<h1>Edit Profile</h1>

<% if flash[:notice] %>
  <% flash[:notice].each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <div class="row">
    <div class="four columns">
      <%= f.label :username %>
      <%= f.text_field :username, class: "u-full-width" %>
      <%= f.label :image_url %>
      <%= f.text_field :img_url, class: "u-full-width" %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "u-full-width" %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "u-full-width" %>
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode, class: "u-full-width" %>
      <%= f.label :age %>
      <%= f.text_field :age, class: "u-full-width" %>
    </div>
  </div>

  <br>

  <%= f.submit :save %>
  <%= link_to '<button type="button">Cancel</button>'.html_safe, current_user %>
<% end %>
